.siteone{
    text-align: left;
}
.sinceone{
    text-align: right;
}
.truthone{
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 9px;
    
}
.thirdimg{
    margin-bottom: 10px;
    

}
.reported{
    margin-bottom: 10px;
    margin-top: 10px;
  
}
}
.heightone{
    height: 620px;
    margin-bottom: 10px;
    margin-top: 12px;
}
.dashone{
    text-align: auto;
    border-top: 2px solid black;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.upperhead{
    font-size: 24px;
}

.heighttwo{
    border-bottom: 2px solid black;
}
.dashtwo{
      border-top: 2px solid black;
      font-size: 24px;
      margin-bottom: 10px;
      margin-top: 10px;
}
.dashthree{
    border-top: 2px solid black;
   
}
.million{
    text-align: center;
    font-size: 20px;
    border-bottom: 2px solid black;
    color: brown;
    
}
.dashfour{
    border-bottom: 2px solid black;
    
}
.sitetwo{
    text-align: left;
    margin-bottom: 10px;
    margin-top: 5px;

}
.sincetwo{
    text-align: right;
    margin-bottom: 10px;
    margin-top: 5px;
}
.topone{
    margin-bottom: 9px;
}
.toptwo{
    margin-top: 9px;
}
.topthree{
    margin-bottom: 10px;
    margin-top: 10px;
}
.topfour{
    margin-bottom: 10px;
    margin-top: 10px;
}
.topfive{
    margin-bottom: 10px;
    margin-top: 10px;
}
.topsix{
    margin-bottom: 10px;
    margin-top: 10px;
}
.topseven{
    margin-bottom: 10px;
    margin-top: 4px;
}