.entirebox{
    margin: auto;
        width: 1000px;
        height: 2025px;
        border: 2px solid black;
        background: linear-gradient(to left top, #4264d5, #008ced, #00adef, #00cae5, #52e4d9);
}

.num{
    padding: 10px;
}

.name{
    font-size: 50px;
        text-transform: uppercase;
        border-bottom: slategrey;
        padding: 10px;
        margin: 20px;
}

.iconcolor{
    color: #00C9A7;
}



#add{
    text-align: center;
    width: auto;
    height: auto;
    border: 2px solid black;
    padding: 20px;
    font-size: 24px;
    box-shadow: 7px 10px 3px #4E8397;
    background-color:#00C9A7;
    margin: 38px;
   
}

.objj{
    text-transform: uppercase;
    padding: 15px;
    margin: 20px;
    font-size: 22px;
    box-shadow: -7px -7px 11px #4E8397;

}
.seeking{
    text-align: center;
    font-size: 20px;
     padding: 10px;
     box-shadow: 7px 7px 11px #4E8397;
    margin: 38px;
} 

.edu{
    font-size: 22px;
    text-transform: uppercase;
    padding: 15px;
    margin: 20px;
    box-shadow: -7px -7px 11px #4E8397;
    
}

.coll{
    font-size: 20px;
    padding: 1px;
    text-transform: uppercase;
    margin: 20px;
}
.deg{
    text-align: center;
    font-size: 18px;
    list-style: none;
    

}

.sch{
    font-size: 20px;
    padding: 1px;
    text-transform: uppercase;
    margin: 20px;

}
.matric{
    text-align: center;
    font-size: 18px;
    list-style: none;
    box-shadow: 7px 7px 11px #4E8397;
    margin: 38px;
    padding:10px;
}

.skill{
    font-size: 20px;
    padding: 1px;
    text-transform: uppercase;
    margin: 20px;
    box-shadow: -7px -7px 11px #00C9A7;
    padding: 15px;
}
.soft{
    text-align: center;
    font-size: 18px;
    list-style: none;
    box-shadow: 7px 7px 11px #4E8397;
    margin: 38px;
    padding:10px;
}

.comm{
    font-size: 20px;
    padding: 1px;
    text-transform: uppercase;
    margin: 20px;
    box-shadow: -7px -7px 11px #00C9A7;
    padding: 15px;
}
.eng{
    text-align: center;
    font-size: 18px;
    list-style: none;
    box-shadow: 7px 7px 11px #4E8397;
    margin: 38px;
    padding:10px;
}

.spo{
    font-size: 20px;
    padding: 1px;
    text-transform: uppercase;  
    margin: 20px; 
    box-shadow: -7px -7px 11px #00C9A7;
    padding: 15px;
}
.game{
    text-align: center;
    font-size: 18px;
    list-style: none;
    box-shadow: 7px 7px 11px #4E8397;
    margin: 38px;
    padding:10px;
}

.pd{
    font-size: 20px;
    padding: 1px;
    text-transform: uppercase;  
    margin: 20px; 
    box-shadow: -7px -7px 11px #00C9A7;
    padding: 15px;
}
.detail{
    text-align: center;
    font-size: 18px;
    list-style: none;
    box-shadow: 7px 7px 11px #4E8397;
    margin: 38px;
    padding:10px;
}

.dec{
    font-size: 20px;
    padding: 1px;
    text-transform: uppercase; 
    margin: 20px;
    box-shadow: -7px -7px 11px #00C9A7;
    padding: 15px;
}
.det{
    text-align: center;
    font-size: 18px;
    list-style: none;
    box-shadow: 7px 7px 11px #4E8397;
    margin: 38px;
    padding:10px;
}

.place{
    text-align: left;
    font-size: 20px;
    margin: 20px;
    padding: 15px;

}
.faith{
    text-align: right;
    font-size: 20px;
    padding: 15px;
}
.nameone{
    text-align: right;
    font-size: 20px;
    padding: 15px;
    

}